@import url(../css/font.css);

/* Font(s) variables creation */
:root {
  /* Google fonts */
  --Josefin: 'Josefin', Helvetica, Verdana, Arial, sans-serif;
  --Lexend: 'Lexend', Helvetica, Verdana, Arial, sans-serif;
  --Livvic: 'Livvic', Helvetica, Verdana, Arial, sans-serif;
  --Roboto: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--Josefin);
}

/* Layout */
.container {
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #000;
  font-family: var(--Lexend);
  font-weight: bold;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #000;
  color: #FFF;
}