@import url(../css/font.css);

/* Font(s) variables creation */
:root {
  /* Google fonts */
  --Josefin: 'Josefin', Helvetica, Verdana, Arial, sans-serif;
  --Lexend: 'Lexend', Helvetica, Verdana, Arial, sans-serif;
  --Livvic: 'Livvic', Helvetica, Verdana, Arial, sans-serif;
  --Roboto: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--Josefin);
  font-size: 1.6rem;
  height: 100vh;
}

/* Layout */
.container {
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #000;
  font-family: var(--Lexend);
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #000;
  color: #FFF;
}

/* Global rules */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #1DA1FF;
}

/* Header */
header a {
  color: #FFF;
  padding: 1rem;
}

a.brand {
  color: #1DA1FF;
  font-size: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

/* Image */
img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem hsl(0, 0%, 75%) solid;
  background-color: rgb(248, 248, 248);
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.2rem;
}

/* Rating */
.rating {
  color: rgb(240, 192, 64);
  margin: 0.1rem;
}