@import url(../css/font.css);

:root {
  /* Google fonts */
  --Josefin: 'Josefin', Helvetica, Verdana, Arial, sans-serif;
  --Lexend: 'Lexend', Helvetica, Verdana, Arial, sans-serif;
  --Livvic: 'Livvic', Helvetica, Verdana, Arial, sans-serif;
  --Roboto: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
  /* Colors */
  --blue: #1DA1FF;
  --white: #FFFFFF;
  --black: #000000;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--Josefin);
}